## day objectives
1. python data structures
  :lists
  :tuples
  :dictionaries
2. basic program sets on data structures
3. advanced problem set
4. contact application(dictionary object)

Data structures:
1. to store,search and sort the data

### python data structures
### lists
- its the common data structure supports by python,the list items are seperated by comma operator and enclosed by square brackets
    - example:
    -  list1:[1,4,3,13]
    -  list2:["gitam",54,18.3,"hyderabad"]

In [1]:
lst=[1,8,16,9,2]
print(lst)#access the entire list
print(lst[0])#access the first item list
print(lst[1])#access the second item list
print(lst[-1])#access the last item list
print(lst[-2])
print(lst[1:])
print(lst[1:4])

[1, 8, 16, 9, 2]
1
8
2
9
[8, 16, 9, 2]
[8, 16, 9]

In [2]:
#update the list items using index
li=["gitam","hyderabad",2019]
print(li)
li[2]=2018
print(li)

['gitam', 'hyderabad', 2019]
['gitam', 'hyderabad', 2018]

In [3]:
#delete the specific item in the list
li=["gitam","hyderabad",2019,2018]
print(li)
del li[3]
print(li)

['gitam', 'hyderabad', 2019, 2018]
['gitam', 'hyderabad', 2019]

In [10]:
# basic list operations
list1=[5,13,3,1]
print(len(list1))#length of the list
print(list1*2)#repetation of the list
print(len(list1))
print(8 in list1)
print(5 in list1)
for x in range(len(list1)):#access the list items using iterations
    print(list1[x],end=" ")

4
[5, 13, 3, 1, 5, 13, 3, 1]
4
False
True
5 13 3 1

In [13]:
#function of the list
list1
print(min(list1))#min element of the list
print(max(list1))#max element of the list
print(sum(list1))#sum of elements of the list
print(sum(list1)//len(list1))#average of the list elements
print(sum(list1[1::2])/len(list1[1::2]))#average of alternate items

1
13
22
5
7.0

In [27]:
list1 
list1.append(24)#adding tha new element at the end of the list
list1
list1.insert(2,14)#adding a nem elemnt at a particular index
list1
list1.count(14)#return the value how many times the value is repeated
list1.index(14)
list1.sort()#sorts the list of elements
list1
list1.pop()#removes the last element from the list
list1
list1.pop(1)#removes the element from a particular index
list2=[16,25,46]
list1.extend(list2)#merges the list1 into list2
list1

[1,
 14,
 14,
 14,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 16,
 25,
 46]

In [28]:
list1 
list1.append(24)#adding tha new element at the end of the list
list1
list1.insert(2,14)#adding a nem elemnt at a particular index
list1
list1.count(14)#return the value how many times the value is repeated
list1.index(14)#returtns the index of the element
list1.sort()#sorts the list of elements
list1
list1.pop()#removes the last element from the list
list1
list1.pop(1)#removes the element from a particular index
list2=[16,25,46]
list1.extend(list2)#merges the list1 into list2
list1

[1,
 14,
 14,
 14,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 16,
 25,
 46]

In [32]:
list1=[1,9,6,18,2]
list1.append(24)# adding a new element at the end of the position
list1
list1.insert(2,18)#adding a element at the particular index
list1
list1.count(18)#return the value how many items the object is repeated
list1.index(18)#returns the index of the object
list1.sort()#it's sort the list in ascending order
list1
list1.pop()#remove the last element from the list
list1
list1.pop(1)#remove the element from the particular index
list2=[123,32,45]
list1.extend(list2)#merge the list1 into list2
list1.reverse()#reverse of the list
list1.remove(123)#removes the lement from the list
list1

[45, 32, 18, 18, 9, 6, 1]

In [20]:
li=[1,9,8,2,6,7,3]
print(li[-1:0:-2])
print(li[-1:2:-2])

[3, 6, 8]
[3, 6]

In [37]:
#function to find the second large element from tye list
li=[1,19,6,2,8,18,3]
def secondlarge(li):
    li.sort()
    return li[-2]
def genericlarge(li,n):
    li.sort()
    return li[-n]
genericlarge(li,4)

6

In [40]:
#function to find the second least element from the list
li=[1,19,6,2,8,18,3]
'''def secondleast(li):
    li.sort()
    return li(1)'''
def genericleast(li,n):
    li.sort()
    return li[n-1]
genericleast(li,5)

8

In [43]:
#to search the data in the list
def linearsearch(li,tarItem):
    for x in range(len(li)):
        if li[x]==tarItem:
            return x
    return -1
li=[1,19,6,2,8,18,3]    
linearsearch(li,225)

-1

In [45]:
#to find the indices of a repeated elemnt
def linearsearch(li,tarItem):
    for x in range(len(li)):
        if li[x]==tarItem:
            print(x,end=" ")
    return
li=[1,7,3,9,3,4,2,8,3]
linearsearch(li,3)

2 4 8

In [48]:
#to convert the list of elements to a series of characters
li=[1,7,3,9,3,4,2,8,3]
def linearsearch(li,tarItem):
    for x in range(len(li)):
        if li[x]==tarItem:
            for i in range(x):
                print("!",end=" ")
        print(end=" ")
    return
linearsearch(li,3)

  ! !   ! ! ! !     ! ! ! ! ! ! ! !

In [52]:
#sum of perfectly multiple numbers of 3 and 5
li=[15,24,30,25]
def sumof(li):
    sum=0
    for x in range(len(li)):
        if li[x]%3==0 and li[x]%5==0:
            sum=sum+li[x]
    return sum
sumof(li)

45

In [56]:
#
li=[2,5,7,3,8]
def list1(li):
    for x in range(len(li)):
        if x==0 or x==len(li)-1:
            print(li[x],end=" ")
        else:
            print(li[x-1]*li[x+1],end=" ") 
    return 
list1(li)

2 14 15 56 8

In [58]:
#if both side numbers are even then print the number
li=[2,5,6,7,4,3,8]
def iseven(li):
    for x in range(len(li)):
        if x==0 or x==len(li)-1:
            print(li[x],end=" ")
        elif li[x-1]%2==0 and li[x+1]%2==0:
            print(li[x],end=" ")
    return
iseven(li)

2 5 7 3 8

### number to list
--->input as a num
--->output will be a list

In [61]:
#convert a number into list form
def numberlistconversion(n):
    li=[]
    while n!=0:
        r=n%10
        li.append(r)
        n=n//10
    li.reverse()
    return li
numberlistconversion(15273)

[1, 5, 2, 7, 3]

In [67]:
#to count the occurance of the characters in the string
def charoccurance(s,c):
    cnt=0
    for ch in s:
        if ch==c:
            cnt=cnt+1
    return cnt
#def charoccurance1(s,c):
   # return s.count(c)
charoccurance("python programming",'m')

2

## string to list conversion

In [70]:
#converting a string to the list form
def stringtolistconversion(s):
    li=s.split()
    numberlist=[]
    for i in li:
        numberlist.append(int(i))
    return numberlist
s="1 2 3 4 5 8"
stringtolistconversion(s)

[1, 2, 3, 4, 5, 8]

### sorting algorithms:
-->all the sorting algorithms makes the list into ascending order 
1.bubble sort
2.selection sort
3.insertion sort

In [74]:
#to represent the bubble sort
def bubblesort(li):
    for i in range(len(li)-1):
        for j in range(len(li)-1):
            if li[j]>li[j+1]:
                li[j],li[j+1]=li[j+1],li[j]
    return li
li=[19,1,25,16]
bubblesort(li)

[1, 16, 19, 25]